.productCard {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    box-shadow: 3px 3px 3px grey;
    border-radius: 5px;
    height: 300px;
    width: 200px;
    padding: 4px;
}

.productImage {
    height: 120px;
    width: 120px;
}

.productInfo {
    display: flex;  
    flex-direction: column;
    
}

.productImage {
    display: flex; 
    align-self: center;
}

.quantityInputs {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    padding: 3px;
}

.quantitySelect {
    border: none;
    height: 20px;
}

.incrementBtns {

}

.increment {
   width: 15px; 
   border: none;
   background-color: white;
}