.sidebar {
      width: 0;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      background-color: #f0f0f0;
      overflow-x: hidden;
      transition: 0.5s; /* Smooth transition for opening/closing */
      padding-top: 60px; /* Adjust as needed */
      z-index: 11; /* Ensure it's on top of other content */
    }

    .sidebar.open {
      width: 250px; /* Adjust desired width */
    }

    .sidebar ul {
      list-style-type: none;
      padding: 0;
    }

    .sidebar li {
      padding: 8px 16px;
      text-decoration: none;
      color: #333;
      display: block;
      transition: 0.3s;
    }

    .sidebar li:hover {
      background-color: #ddd;
    }